header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 95vh;
    background-image: url(../assets/home-1.jpeg);
    background-size: cover;
    background-position: bottom center;
}

.headerPlain {
    margin: 0;
    padding: 0;
    background-image: none;
}

.headerBlog {
    margin: 0;
    padding: 0;
    background-image: url(../assets/blog-1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
}

.contactUsPageBanner {
    height: 300px;
    background-image: url(../assets/contact-1.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    h2 {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 5rem;
        letter-spacing: 1.8px;
        color: black;
        padding-top: 200px;
        width: 150px;
    }
}

.contactUsPageContactDetails {
    h2 {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 1.8px;
        color: black;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        letter-spacing: 0.3px;
        color: rgba($color: #333333, $alpha: 0.6);
    }
    ul {
        display: flex;
        justify-content: space-around;
        li {
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 40px;
            padding-right: 40px;
            h3 {
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                font-size: 1.6rem;
                letter-spacing: 1.8px;
                color: black;
            }
            i {
                font-size: 4rem;
            }
        }
        .middleBorder {
            border-left: #333333 2px solid;
            border-right: #333333 2px solid;
            padding-left: 40px;
            padding-right: 40px;
            height: 220px;
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.headerElement {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    height: 100px;
    ul {
        display: flex;
        margin: 20px;
        font-size: 1.4rem;
        li {
            margin: 20px 15px;
            a:hover {
                text-decoration: line-through;
            }
        }
    }
    h1 {
        font-weight: bold;
        font-size: 3.7rem;
        color: #333333;
    }
}